<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.milena.parejas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Personas" />
        <activity android:name=".DescripcionTeresa" />
        <activity android:name=".DescripcionAlejandro" />
        <activity android:name=".DescripcionMichael" />
        <activity android:name=".DescripcionTania" />
        <activity android:name=".DescripcionCarlos" />
        <activity android:name=".DescripcionDavid"></activity>
    </application>

</manifest>